*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.ribbon{
    /* border: 1px black solid; */
    background: linear-gradient(#f4f1ee, #c8cabf);
    height: 15vh;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 38px;
    font-weight: 600;
}
.telephone{
    background: #da291e;
    color: white;
    padding: 6px 12px;
    letter-spacing: .1em;
    width: 290px;
    float: right;
    top: 0;
    height: 50px;
}
.navbar{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}
.banner{
    /* border: 1px black solid; */
    background: linear-gradient(#4a4743, #9a969a);
    display: grid;
    grid-template-columns: 50% 50%;
}
.tagline{
    /* border: 1px black solid; */
    margin-left: 120px;
    padding: 90px;
    color: white;
    font-weight: 800;
}
.tagline h1{
    font-weight: 600;
} 
.tagline p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}