*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.ribbon{
    /* border: 1px black solid; */
    background: linear-gradient(#f4f1ee, #c8cabf);
    height: 15vh;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 25px;
}
.telephone{
    background: #da291e;
    color: white;
    padding: 6px;
    letter-spacing: .1em;
    max-width: 290px;
    top: 0;
    height: 50px;
}
.navbar{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}
.banner{
    border: 1px black solid;
    background: linear-gradient(#4a4743, #9a969a);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 70px 0;
}
.tagline{
    border: 1px black solid;
    padding: 150px;
    color: white;
    font-weight: 800;
}
.tagline h1{
    font-weight: 600;
} 
.tagline p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}
.main{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 120vh;
}
.social{
    display: 1px black solid;
}
.footer{
    background: #292b2e;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px;
}
.footer a{
    color: white;
    text-decoration: none;
    line-height: 1.9em;
}
.footer a:hover{
    text-decoration: underline;
}
.footer a img{
    height: 25px;
    color: white;
}